@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}

body {
	font-family: Lato;
	font-size: 0.875rem;
	user-select: none;
	margin: 0;
	min-height: 100vh;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 5rem;
	}

	main[role=main] {
		min-height: calc(100vh - 80px) !important;
	}

	.clock {
		display: none;
	}

	.card {
		min-width: calc(100vw - 32px);
	}
}

@media (min-width: 1980px) {
	main[role=main] {
		min-width: calc(100vw - 317px);	
	}
}

@media  (min-width: 767.98px) {
	main[role=main] {
		margin-left: 317px !important;
		min-height: calc(100vh - 52px) !important;
		max-width: calc(100vw - 317px);
}

	.sidebar, .navbar-brand {
		max-width: 320px;
		min-width: 320px;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
	line-height: 1;
	cursor: pointer;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1rem;
	background-color: #333333;
	box-shadow: inset -1px 0 0 #333333;
}

.navbar .navbar-toggler {
	top: 0.25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: 0.75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.nav-link {
	font-size: 12pt;
}

.icon {
	vertical-align: middle;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	user-select: none;
}

.text {
	vertical-align: middle;
	line-height: 0;
}

#navigation > .nav-item {
	border-radius: 5px;
	margin: 5px 10px 5px 10px;
	line-height: 1.5;
	transition: 0.3s;
	height: auto;
	cursor: pointer;
}


#navigation > .nav-item:active {
	background-color: silver;
	user-select: none;
	transition: 0.3s;
}

a {
	user-select: none;
	-webkit-user-drag: none;
}

.panelfont {
	font-size: 12pt;
}

.userprofile {
	width: 100%;
	height: 128px;
	padding: 10px;
	display: list-item;
}

.profilepic {
	width: 64px;
	height: 64px;
	border-radius: 64px;
	margin: auto;
	display: block;
	pointer-events: none;
}

.profilename {
	margin-top: 10px;
	font-size: 12pt;
	font-weight: 500;
}

label {
	font-weight: 500;
}

#walleticon {
	font-size: 64px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

#walletbalance {
	display: inline-block;
	font-size: 28pt;
	vertical-align: middle;
}

.material-icons-outlined {
	vertical-align: middle;
	margin-right: 5px;
}

.sidebar .nav-link.active.active {
	background-color: rgb(240, 240, 240);
	color: #08a8b0;
}

.sidebar .nav-link.active.active:hover {
	background-color: rgba(0, 128, 128, 0.1);
	color: #333;
}

.sidebar .nav-link.active.active:active {
	background-color: transparent;
	color: #333;
}

.sidebar .nav-link {
	border-radius: 5px;
	transition: 0.3s;
}

.sidebar .nav-link:hover {
	background-color: rgba(0, 128, 128, 0.1);
}

.sidebar .nav-link:active {
	background-color: transparent;
}

/* Start nav-link-special */
.sidebar .nav-link-special.active.active {
	background-color: rgb(240, 240, 240);
	color: #08a8b0;
}

.sidebar .nav-link-special.active.active:hover {
	background-color: rgba(0, 128, 128, 0.1);
	color: #333;
}

.sidebar .nav-link-special.active.active:active {
	background-color: transparent;
	color: #333;
}

.sidebar .nav-link-special {
	border-radius: 5px;
	transition: 0.3s;
	background-color: teal;
	color: white;
}

.sidebar .nav-link-special:hover {
	background-color: rgb(0, 100, 100);
	color: white;
}

.sidebar .nav-link-special:active {
	background-color: black;
}
/* End nav-link-special */

.card-img-top {
	pointer-events: none;
}

/* Subscriptions */
.card {
	width: 20rem;
	margin: 10px 10px 10px 0px;
	display: inline-block;
}

#statisticPanel {
	margin-left: 0px;
	width: 100%;
}

#statisticPanel > .card > .card-img-top {
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}

/* passport Theme for Bootstrap */

.btn-outline-passport {
	color: #08a8b0;
	border-color: #08a8b0;
}

.btn-outline-passport:hover {
	color: white;
	border-color: #08a8b0;
	background-color: #08a8b0;
}

.btn-outline-passport:active,
.btn-outline-passport:focus {
	color: #fff;
	background-color: #08a8b0 !important;
	border-color: #08a8b0 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 128, 128, 0.3) !important;
}

.btn-passport {
	color: white;
	background-color: #08a8b0;
	border-color: #08a8b0;
	line-height: 1.5 !important;
}

.btn-passport:hover {
	color: white;
	border-color: #077980;
	background-color: #077980;
}

.btn-passport:active,
.btn-passport:focus {
	color: #fff;
	background-color: #077980 !important;
	border-color: #077980 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 128, 128, 0.3) !important;
}

.btn-passport-gray {
	color: white;
	background-color: #545454;
	border-color: #545454;
	line-height: 1.5 !important;
}

.btn-passport-gray:hover {
	color: white;
	border-color: #434343;
	background-color: #434343;
}

.btn-passport-gray:active,
.btn-passport-gray:focus {
	color: #fff;
	background-color: #545454 !important;
	border-color: #545454 !important;
	box-shadow: 0 0 0 0.2rem rgba(84, 84, 84, 0.3) !important;
}

.form-control:focus {
	border-color: #08a8b0 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 128, 128, 0.3) !important;
}

.form-control:focus.btn-passport-gray {
	color: #fff;
	background-color: #545454 !important;
	border-color: #545454 !important;
	box-shadow: 0 0 0 0.2rem rgba(84, 84, 84, 0.3) !important;
}

.custom-select:focus {
	border-color: #08a8b0 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 128, 128, 0.3) !important;
}

.custom-file-input:focus~.custom-file-label {
	border-color: #08a8b0 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 128, 128, 0.3) !important;
}

.custom-file-input~.custom-file-label {
	font-size: 1rem;
}

a {
	color: #08a8b0;
}

a:hover {
	color: teal;
}

.bg-dark {
	background-color: #545454 !important;
}

.label-text {
	position: relative;
	left: 10px;
}

  
main[role=main]::after {
	content: "";
	background: url(../img/bg.jpg);
	background-attachment: fixed;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	height: 100%;
  }

.btn-link {
	color: #08a8b0;
}

.btn-link:hover {
	color: teal;
}

.btn-link:active,
.btn-link:focus {
	border-color: #077980 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 128, 128, 0.3) !important;
}

.top-icon {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: 32px;
	margin-right: 20px;
}

.page-title {
	font-size: 16pt;
	vertical-align: middle;
	display: inline-flex;
}

.index-login-box {
	height: auto;
	display: block;
	padding: 10px;
}

.index-reset-box {
	height: auto;
	width: 30vw;
	display: block;
	padding: 10px;
}

.page-container {
	min-height: calc(100vh - 150px);
  	display: flex;
    justify-content: center;
 	align-items: center;
}

.notification-login {
	font-size: 14pt;
	text-align: center;
}

.notification-text {
	margin-bottom: 60px;
	font-size: 18pt;
}

.index-link {
	margin-bottom: 5px;
	margin-top: 5px;
}

.btn.mediumwidth {
	width: 200px;
}

.field-icon {
	float: right;
	margin-left: -25px;
	margin-right: 7px;
	margin-top: -31px;
	position: relative;
	z-index: 2;
	border-radius: 5px;
	padding: 5px;
	width: 24px;
}

.field-icon:hover {
	background-color: rgb(230,230,230);
}

.field-icon:active {
	background-color: rgb(200,200,200)
}

/* start checkbox-container */

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 24px;
	width: 24px;
}
  
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 2;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	vertical-align: middle;
	border-radius: 5px;
	transition: 0.3s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: #ccc;
	transition: 0.3s;
}

/* When the checkbox is checked, add a teal background */
.checkbox-container input:checked ~ .checkmark {
	background-color: teal;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 7px;
	top: 4px;
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* end checkbox-container */

/* start radio-container */

/* Customize the label (the container) */
.radio-container {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.radiomark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
	transition: 0.3s;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radiomark {
	background-color: #ccc;
	transition: 0.3s;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radiomark {
	background-color: teal;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radiomark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radiomark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* end radiomark-container */


.label-text {
	position: relative;
	left: 10px;
}

#backButton {
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-right: 5px;
	cursor: pointer;
}

#titleText {
	vertical-align: middle;
}

button[type=button]:focus {
	outline: none;
}

.mandatory::after {
	content: " *";
	font-weight: bold;
	color: red;
}

.loader {
	border: 6px solid #f3f3f3;
	border-radius: 50%;
	border-top: 6px solid teal;
	width: 32px;
	height: 32px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	opacity: 1;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Safari */
@-webkit-keyframes fade {
	0% {
		background-color: transparent;
	}

	100% {
		background-color: rgba(0, 128, 128, 0.1);
	}
}

@keyframes fade {
	0% {
		background-color: transparent;
	}

	100% {
		background-color: rgba(0, 128, 128, 0.1);
	}
}

.form-control {
	line-height: 3;
}

.form-group>label {
	font-weight: 500;
}

.icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	cursor: pointer;
}

#backButton {
	display: none;
}

form {
	margin-bottom: 0;
}

.bg-passport-gray {
	background-color: #545454;
}

.transparent-icon {
	opacity: 0.3;
	text-align: center;
	width: 100%;
}

.full-width-icon {
	font-size: 41pt;
}

.clock {
	text-align: right;
}

#navFooter {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	color: grey;
	font-size: 10pt;
}

#navFooter .footer-icon {
	font-size: 12pt;
	margin-top: -3px;
}

.index-header {
    box-shadow: none;
    width: auto;
    min-width: auto;
    color: black;
    border: 0;
    background: white;
    padding-left: 20px;
    font-size: 12pt;
}

.signon-loader {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top: 4px solid white;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.signon-loader-container {
	width: auto;
	height: auto;
	text-align: center;
	display: none;
}

.modal {
	z-index: 10002;
}
.modal-backdrop {
	z-index: 10001;
}

#greetings {
	font-size: 14pt;
}

.form-control[type=button] {
	line-height: normal;
	height: auto;
}